language: php
php:
#  - 5.3
  - 5.4
  - 5.5

env:
  - DB=sqlite
#  - DB=mysql
#  - DB=pgsql
  - DB=oracle

before_install:
  - tests/travis/before_install_$DB.sh
  - tests/travis/before_install.sh
  - cp tests/core_install.sh ../core/

install:
  - cd ../core; ./core_install.sh $DB

script:
  - cd ../core/apps/web_hooks/tests; phpunit --configuration phpunit.xml
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover clover.xml

 
